.flexContainer {
  display:flex;
  flex-direction:row; 
  flex-wrap: wrap;
  gap:10px;
  justify-content:center;
  align-items: center;
  height:800px;
}

.flexContainer > div {
  background-color: chartreuse;
  width: 150px;
  height: 150px;
}
